@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,300;1,400&display=swap');

@import 'config';
@import 'header';
@import 'home';
@import 'devenir-page';



body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2.3;
}